.footer{
    background: linear-gradient(0, #120c56, #000000);
    border-top: 4px solid var(--header-border-bottom);
    display: flex;
}

.footer .social{
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.footer .social h2{
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 20px;
    padding-top: 40px;
}

.footer .social a{
    text-decoration: none;
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .3s ease-in-out;
}

.footer .social a i{
    margin-left: 1px;
    line-height: 35px;
}

.footer .social a:hover{
    color: var(--main-color);
    box-shadow: 0 0 1rem var(--main-color);

}

.footer .btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 70px;
    text-decoration: none;
    background: var(--main-color);
    border-radius: 4rem;
    font-size: 1.4rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .3s ease;
}

.footer .btn:hover {
    box-shadow: 0 0 1rem var(--main-color);
    color: var( --text-white);
}

.footer .copy{
    color: var(--main-color);
    letter-spacing: 3px;
    margin-bottom: 50px;
}