
html{
    font-size: 62.5%;
    height: 100vh;
    background-color: #4b4b4b;
    scroll-behavior: smooth;
}

body{
    color: var(--text-white);
    font-family: 'Poppins', sans-serif;
    /* padding-top: 150px; teste menu fixo*/
}

ul{
    list-style-type: none;
}

ul li a{
    text-decoration: none;
    color: var(--text-white);
}

.container{
    max-width: 1140px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.justify-content-space-between{
    justify-content: space-between;
    }
    
.align-items-center{
        align-self: center;
}

.social a{
    color: var(--text-white);
    border-radius: 50%;
    font-size: 25px;
    display: inline-block;
    text-align: center;
    margin: 0 10px;
    width: 40px;
    height: 40px;
    transition: all .3s ease-in-out;
}

.social a:hover{
    color: #7158e2;
}

.social a i{
    line-height: 40px;
}

.autor-shadow{
    box-shadow: 3px 3px #38393a, -3px -3px 3px #454545;
}

.inner-shadow{
    box-shadow: inset 3px 3px 3px #222327, inset -3px -3px 3px #454545;
}

.section{
    height: 90vh;
}

.section-title{
    text-align: center;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 60px 0;
}

.section-title h2{
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;

}
