
.home {
    width: 99vw;
    height: 100vh;
    background-image: url(../image/img-home.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #0006;
    background-blend-mode: darken;
    display: flex;
    justify-content: center;
    align-items: center;
}


.home .container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home .text-home{
    text-align: center;
    letter-spacing: 6px;
    margin-top: 50px;
}

.home .text-home h2{
    font-size: 35px;
    margin-bottom: 30px;
    color: var(--main-color);

    border-right: 2px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(12),
    cursor .4s step-end infinite alternate;
}

@keyframes cursor {
    50% {border-color: transparent}
}

@keyframes typing {
    0% {width: 0;}
}

.home .text-home h3{
    font-size: 20px;
    margin-bottom: 60px;
    color: var(--text-white);
}

.social a{
    text-decoration: none;
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .3s ease-in-out;
}

.social a i{
    margin-left: 5px;
    line-height: 35px;
}

.social a:hover{
    color: var(--main-color);
    box-shadow: 0 0 1rem var(--main-color);

}

.btn{
    text-decoration: none;
    margin-top: 40px;
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    box-shadow: 0 0 1rem #000;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .3s ease;
}

.home-conteudo .btn {
    margin-top: 40px;
}

.btn:hover {
    box-shadow: 0 0 1rem var(--main-color);
    color: var(--text-white);
}

@media(max-width: 768px){
    .home .text-home h2{
        letter-spacing: 4px;
        font-size: 30px;
        margin-bottom: 30px;
    }

    .home .text-home h3{
        letter-spacing: 2px;
        font-size: 20px;
        margin-bottom: 100px;
    }
}

@media(max-width: 425px){
    .home .text-home h2{
        letter-spacing: 3px;
        font-size: 20px;
        margin-bottom: 30px;
    }
    .home .text-home h3{
        letter-spacing: 2px;
        font-size: 14px;
        margin-bottom: 80px;
    }

}





