
.projects{
    background: linear-gradient(0, #120c56, #000000);
}
.projects .container-projects{
    display: grid;
    text-align: left;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    margin-bottom: 50px;
}

.projects .information-project{
    text-align: center;
}

.projects .section-title h2{
    font-weight: 400;
    letter-spacing: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.projects .section-title h2::before{
    content: '';
    width: 10px;
    height: 10px;
    background-color: var(--main-color);
    margin-right: 10px;
}


.projects .container-projects .project p{
    font-size: 15px;
    line-height: 30px;
    text-decoration: none;
    color: var(--text-white);
    width: 100%;
}

.projects .container-projects .project p:nth-child(2){
    font-weight: bold;
}

.projects .container-projects .project{
    transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    position: relative;
}

.projects .container-projects .project:hover,
.projects .container-projects .project:hover .information-project{
    opacity: .9;
}

.projects .container-projects .project img{
    border-radius: 5px;
    width: 100%;
    height: auto;
    max-width: 300px;
    max-height: 400px;
}

.projects .container-projects .project{
    position: relative;
    width: 187px;
    height: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.projects .container-projects.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.projects .container-projects .project a{
    display: flex;
}

.projects .container-projects .project .information-project{
    padding: 20px;
    background-color: var(--second-bg-color);
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
}

.projects .container-projects .project .information-project p{
    color: var(--main-color);
}

@media(max-width: 1280px){
    .projects .container-projects{
        padding: 0 30px;
    }
}

@media(max-width: 768px){
    .projects .section-title h2 {
       margin-top: 0; 
    }

}
