:root{
    --text-white: #ffffff;
    --skills: #cfc3c3;
    --bg-header: #130f40;
    --header-border-bottom: #1c1752;
    --bg-color: #1f242d;
    --second-bg-color: #233946;
    --main-color: #f0932b;
    --bg-gradient: linear-gradient(0, #120c56, #000000);
}
